body{
    background-color: #dfdfdf;
    color: #555555;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header{
    background-color: #d8be78da;
    color: #ffffff;
}
#navbar{
    background-color: #333333;
    color: #ffffff;
}
#navbar ul{
    padding: 0;
    list-style-type: none;
}
#navbar li{
    display: inline-block;
}
#navbar a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    padding-right: 4rem;
}
#showcase{
    background: url('../img/background.jpg') no-repeat center center/cover;
    min-height: 300px;
    margin-bottom: 1rem;
    text-align: center; 
}
#showcase h1{
    color: #cccccc;
    font-size: 2.5rem;
    line-height: 3rem;
    padding: 1rem; 
}
#main{
    float: left;
    width: 70%;
    padding: 0 1rem;
    box-sizing: border-box
}
#sidebar{
    float: left;
    width: 30%;
    background: #333333;
    color: #ffffff;
    padding: 0 1rem;
    box-sizing: border-box
}
#main-footer{
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}
@media(max-width:700px){

    #navbar li{
        display: block;
        margin: auto;
        padding: 0.5rem 0;
        text-align: center;
    }
    #navbar a{
        text-align: center;
        padding: 0;
    }
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}
